@width:        800px;
@height:       600px;
@rightColumn:  493px;
@gutter:       8px;
@radius:       @gutter / 2;
@gap:          2px;
@speed:        0.2s;
@blueGradient: -webkit-linear-gradient(#249, #026);
@windowHeight: 170px + 2 * @gutter;
@newsHeight: 100px;

.skylightScroller {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: @gutter;
  }

  &::-webkit-scrollbar-track-piece {
    @background: rgb(40, 40, 40);
    @hover:      rgb(45, 45, 45);

    background:    @background;
    border-radius: @radius;

    &:increment, &:decrement {
      &:hover  { background: @hover; }
      &:active { background: @background; }
    }
  }

  &::-webkit-scrollbar-thumb {
    @background: -webkit-linear-gradient(rgb( 75,  75,  75), rgb(70, 70, 70));
    @hover:      -webkit-linear-gradient(rgb(110, 110, 110), rgb(95, 95, 95));

    background:    @background;
    border-radius: @radius;

    &:hover  { background: @hover; }
    &:active { background: @background; }
  }
}

#skylightSwitcher {
  text-align: center;

  a {
    font-size:       12px;
    color:           #333;
    text-decoration: underline;
  }
}

#skylight {
  @family: Verdana, sans-serif;

  position:    relative;
  width:       @width;
  height:      @height;
  font-family: @family;
  color:       white;

  input[type=text], textarea {
    font-family: @family;
  }
}

#skylight > .rightColumn {
  @tabHeight: 36px;

  position: absolute;
  top:   0;
  right: 0;
  width: @rightColumn;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  overflow: hidden;

  .showOptions {
    @margin: 6px;
    @size: @tabHeight + @gap - 2 * @margin;

    height: @size;
    width: @size;
    display: block;
    float: right;
    fill: black;
    cursor: pointer;
    margin: @margin 0 0 0;
  }

  .tabs {
    padding: 0;
    margin: 0;
    overflow: hidden;

    li {
      font-family:     LightCrime;
      float:           left;
      line-height:     @tabHeight - 2 * @gap;
      margin:          0 @gap 0 0;
      padding:         0 @gutter;
      background:      black;
      border:          @gap solid black;
      border-radius:   @radius @radius 0 0;
      cursor:          pointer;
      -webkit-user-select: none;
      font-size:       14px;
      list-style-type: none;
      -webkit-transition-property: color, background-color, border-color;
      -webkit-transition-duration: @speed;
      -webkit-transition-timing-function: ease;

      &.selected {
        background:  white;
        color:       black;
      }

      &.highlight {
        @background: #555;

        border-color: @background;
        background:   @background;
      }
    }
  }

  .channels {
    position: relative;
    -webkit-flex: 1;
    margin: @gap 0 0 0;
    background: black;
    border-radius: 0 @radius 0 0;
  }

  .textbox {
    padding: 0 0 @gutter 0;
    background: black;
    border-radius: 0 0 @radius @radius;

    input {
      margin: 0 @gutter;
      box-sizing: border-box;
      width: @rightColumn - 2 * @gutter;
      font-size: 12px;
    }

    textarea {
      margin: 0 @gutter;
      box-sizing: border-box;
      width: @rightColumn - 2 * @gutter;
      display: none;
      resize: vertical;
      max-height: 240px;
      font-size: 12px;
      border-radius: 0 0 @radius @radius;
   }

    &.textarea {
      textarea { display: block; }
      input { display: none; }
    }
  }
}

#skylight .channel {
  @hover: rgb(40,40,40);

  position: absolute;
  left: 0;
  top: @gutter;
  bottom: @gutter;
  width: @rightColumn - @gutter;
  background: black;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: left @speed ease;
  font-size: 12px;
  line-height: 1.5;
  word-wrap: break-word;

  &.left { left: -100%; }
  &.right { left: 100%; }

  .skylightScroller;

  .more {
    display: none;
    font-family: LightCrime;
    text-align: center;
    cursor: pointer;
    color: #888;
    margin: 0 @gutter 0 0;
    opacity: 1;
    -webkit-transition-property: color, background-color, opacity;
    -webkit-transition-duration: @speed;
    -webkit-transition-timing-function: ease;

    &:hover {
      background-color: @hover;
      color: white;
    }

    &.hide {
      cursor: default;
      opacity: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .chat {
    position: relative;
    left: -100%;
    padding: 0 0 0 @gutter;
    margin: 0 @gutter 0 0;
    -webkit-transition-property: left, background-color;
    -webkit-transition-duration: @speed;
    -webkit-transition-timing-function: ease;

    &:hover { background-color: @hover; }

    &.show { left: 0; }

    &.static {
      padding:     @gutter 0 @gutter @gutter;
      font-family: LightCrime;

      &:before {
        content: "{static}";
      }
    }

    &.feedback {
      padding:     @gutter 0 @gutter @gutter;
      color:       #98f;
      font-weight: bold;
      font-family: Monaco, Consolas, 'Lucida Console', monospace;

      a {
        text-decoration: none;
        border-bottom: 1px dotted;
      }
    }

    .announce {
      padding:        @gutter 0;
      text-transform: uppercase;
      font-size:      14px;
      color:          #98f;

      &:before {
        content: "\2022  announcement \2022 ";
        display: block;
      }
    }

    a {
      color:           inherit !important;
      text-decoration: underline;
    }

    b {
      font-weight: bold;
      font-size: 13px;
    }

    .emote { color: #f4f493; }

    .f0  { color: #ffcc00; } // yellow
    .f1  { color: #ff2222; } // red
    .f2  { color: #00cc00; } // green
    .f3  { color: #2079ff; } // blue
    .f4  { color: #999999; } // gray
    .f5  { color: #999999; } // gray
    .f6  { color: #999999; } // gray
    .f7  { color: #ff8c00; } // orange
    .f8  { color: #aa6622; } // brown
    .f9  { color: #a45bfd; } // purple
    .f10 { color: #999999; } // gray
  }
}

#skylight .options {
  @line-height: 30px;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: @blueGradient;
  border-radius: @radius;
  font-family: LightCrime;
  font-size: 12px;
  line-height: @line-height;

  -webkit-transform: scaleX(0);
  -webkit-transform-origin: right;
  -webkit-transition: -webkit-transform @speed ease;

  &.show { -webkit-transform: scaleX(1); }

  .hideOptions {
    @height: 26px;
    @color: rgba(255,255,255,0.6);

    overflow: hidden;
    padding: 7px;
    margin: 0 0 10px 0;
    cursor: pointer;

    svg {
      fill:  white;
      float: right;
      height: @height;
      width: @height;
    }
  }

  .option {
    display: -webkit-flex;
    -webkit-align-items: center;

    &.volume {
      margin: @line-height 0 0 0;
    }

    input {
      width: 140px;
    }

    label {
      width: 210px;
      text-align: right;
      margin: 0 30px 0 0;
      display: block;
    }
  }

  .alertHeader {
    font-family: HeavyCrime;
    margin: @line-height 0 0 0;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    display: -webkit-flex;
    -webkit-align-items: center;

    .sound {
      width: 300px;
      text-align: right;
    }

    .popup {
      width: 160px;
      text-align: right;
    }
  }

  .alert {
    display: -webkit-flex;
    -webkit-align-content: center;

    .name {
      width: 165px;
      text-align: right;
      margin: 0 30px 0 0;
    }

    input[type=range] {
      width: 70px;
      margin: 0 8px 0 0;
    }

    input[type=checkbox] {
      margin: 0 8px 0 30px;
    }
  }

  .channels {
    div {
      display: -webkit-flex;
      -webkit-align-items: center;
      float: left;
      margin: 0 0 0 20px;
    }

    input[type=checkbox] {
      margin: 0 0 0 5px;
    }
  }

  label {
    display: block;
  }

  select {
    margin: 0;
    display: block;
  }

  input[type=text] {
    font-size: 12px;
  }

  input[type=range] {
    -webkit-appearance: none;
    background: -webkit-linear-gradient(
      rgba(255,255,255,0.05), rgba(255,255,255,0.2)
    );
    height: 4px;
    border-radius: 2px;
    border: 1px solid #262626;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.1),
                inset 0 0 1px rgba(255,255,255, 0.4);
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: -webkit-radial-gradient(#fff 30%, #bbc);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
    width: 12px;
    height: 12px;
    border-radius: 6px;
  }

  input[type=range]:active::-webkit-slider-thumb {
    background: white;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.4);
  }

  input[type=range]:disabled {
    opacity: 0.4;
  }

  input[type=checkbox] {
    position: relative;
    border: 1px solid #262626;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: -webkit-linear-gradient(
      rgba(255,255,255,0.4), rgba(255,255,255,0.1)
    );
    -webkit-appearance: none;
    box-shadow: 0 1px 0 rgba(255,255,255, 0.1),
                inset 0 0 1px rgba(255,255,255, 0.4);
    border-radius: 3px;
  }

  input[type=checkbox]:checked::after {
    position: absolute;
    content: '';
    left: 15%;
    top: -10%;
    height: 40%;
    width: 95%;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
    -webkit-transform: rotate(-45deg);
  }

  input[type=checkbox]:disabled {
    opacity: 0.4;
  }
}

#skylight .disconnected {
  position: absolute;
  left:  250px;
  right: 250px;
  top:   200px;
  background: black;
  color: white;
  text-align: center;
  padding: 16px;
  border: @gap solid white;
  border-radius: @radius;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

  div {
    margin: 0 0 16px 0;
    font-size: 20px;
    font-family: LightCrime;
  }

  button {
    font-size: 18px;
  }
}

#skylight .intro {
  position: absolute;
  top: 0;
  left: 0;
  height:        100%;
  width:         100%;
  font-size:     18px;
  font-family:   LightCrime;
  text-align:    center;
  line-height:   1.8;
  border-radius: @radius;
  padding: 150px 200px 0 200px;
  box-sizing: border-box;
  background: @blueGradient;
  opacity: 1;
  z-index: 1000;
  -webkit-transition-property: z-index, opacity;
  -webkit-transition-duration: @speed;

  &.hide {
    opacity: 0;
    z-index: 0;
  }
}

#skylight > a.window {
  display: block;
  width: @width - @rightColumn - @gap;
  height: @windowHeight;
  box-sizing: border-box;
  padding: @gutter;
  background: black;
  position: absolute;
  left: 0;
  top: @newsHeight + @gap;

  .sky {
    background-color: white;
    background-image: -webkit-linear-gradient(
      rgba(0,30,255,0.55), rgba(0,30,255,0.85)
    );
    height: 100%;
    border-radius: @radius;
    position: relative;
  }

  .background, .location {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: @radius;
  }

  .background {
    display: none;
  }

  .sky.flying .background {
    display: block;
  }

  .location {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
  }

  .sky.flying.flyLeft .location {
    -webkit-transform: scale(-1,1);
  }

  .combat, .combatCount {
    position: absolute;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
  }

  .combat {
    bottom: 20px;
    left: 20px;
    border-radius: @radius;
  }

  .combatCount {
    @size: 30px;

    bottom: 80px;
    left: 80px;
    line-height:   @size;
    width:         @size;
    border-radius: 1000px;
    border:        3px solid;
    background: black;
    color: #ffe200;
    font-size:     12px;
    font-family: HeavyCrime;
    text-align:    center;
  }
}

#skylight > .queue {
  @entryHeight: 30px;

  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  box-sizing: border-box;
  width: @width - @rightColumn - @gap;
  border:     @gutter solid black;
  height:     @height - @windowHeight - @newsHeight - 2 * @gap;
  overflow-y: scroll;
  border-radius: 0 0 @radius @radius;

  .skylightScroller;

  .entry {
    height: @entryHeight;
    padding: @gutter @gutter @gutter 0;
    margin: 0 @gutter 0 0;
    overflow: hidden;
    font-size: 12px;
    line-height: @entryHeight / 2;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;

    .gradient (@h: 0, @s: 0%, @l: 15%) {
      @from: hsl(@h, @s, @l);
      background: -webkit-linear-gradient(@from, black);
    }
    .gradient;

    &.Flight  { .gradient(240, 75%, 18%); }
    &.Sell    { .gradient( 60, 80%, 15%); }
    &.Buy     { .gradient(120, 80%, 15%); }
    &.Hunt    { .gradient(  0, 80%, 15%); }
    &.Service { .gradient(300, 80%, 15%); }

    &.completed {
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }

      .time { opacity: 0; }
    }

    .time {
      float:   left;
      height:  100%;
      padding: 0 @gutter 0 0;
      min-width: 38px;
      text-align: right;

      .total {
        color: #777;
      }
    }

    img {
      @margin: 2px;
      float:  right;
      height: @entryHeight - 2 * @margin;
      margin: @margin 0 0 0;
    }

    .market {
      @size:   20px;
      @border: 1px;

      float:   right;
      height:  @size;
      width:   @size;
      display: none;
      border:  @border solid black;
      margin:  ((@entryHeight - @size - 2 * @border) / 2) @gutter 0 0;
      border-radius: 1000px;
      box-shadow: 0 0 3px white;

      .gradient (@h) {
        @from: hsl(@h,  80%, 25%);
        @to:   hsl(@h, 100%, 30%);
        background: -webkit-linear-gradient(@from, @to);
      }

      &.m1 { .gradient(  0); display: block; }
      &.m2 { .gradient( 60); display: block; }
      &.m3 { .gradient(120); display: block; }
      &.m4 { .gradient(240); display: block; }
      &.m5 { .gradient(300); display: block; }
    }
  }
}

#skylight > .news {
  @timeHeight: 30px;
  @svgSize: 12px;

  background: black;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  box-sizing: border-box;
  height: @newsHeight;
  width: @width - @rightColumn - @gap;
  border-radius: @radius @radius 0 0;
  padding: 0 @gutter;

  .inner {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .items {
    position: absolute;
    height: 100%;
    display: -webkit-flex;

    -webkit-transition-property: left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
  }

  .item {
    font-size: 12px;
    width: @width - @rightColumn - @gap - 2 * @gutter;
    text-align: center;
  }

  .content {
    height: @newsHeight - @timeHeight - 1px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;

    img { display: block; }
  }

  .time {
    color: #666;
    line-height: @timeHeight;
    // border-top: 1px solid #666;
  }

  svg {
    position: absolute;
    bottom: (@timeHeight - @svgSize) / 2;
    fill: #666;
    height: @svgSize;
    width: @svgSize;
    cursor: pointer;

    &.disabled {
      cursor: default;
      fill: black;
    }
  }

  .forward { right: @svgSize + 2 * @gutter; }
  .forwardForward { right: @gutter; }
  .back { left: @svgSize + 2 * @gutter; }
  .backBack { left: @gutter; }
}
