<div class="inner">
  <div class="items"></div>
</div>

<svg class="forward" viewBox="0 0 100 100">
  <path d="M 0 0 0 100 100 50 Z" />
</svg>

<svg class="forwardForward" viewBox="0 0 100 100">
  <path d="M 0 0 0 100 100 50 Z" />
  <rect x="84" y="0" width="16" height="100" />
</svg>

<svg class="back" viewBox="0 0 100 100">
  <path d="M 100 0 100 100 0 50 Z" />
</svg>

<svg class="backBack" viewBox="0 0 100 100">
  <path d="M 100 0 100 100 0 50 Z" />
  <rect x="0" y="0" width="16" height="100" />
</svg>
