<div class="intro">Connecting&nbsp;&hellip;</div>

<a class="window" href=""></a>
<div class="queue"></div>
<div class="news"></div>

<div class="rightColumn">
  <div>
    <svg class="showOptions" viewBox="-75 -75 150 150">
      <path d="M -57 0 A 57 57 0 0 0 57 0 A 57 57 0 0 0 -57 0
               M -28 0 A 28 28 0 0 1 28 0 A 28 28 0 0 1 -28 0"/>
      <path id="tooth"
        d="M -22 -40 L -18 -70 A 70 70 0 0 1 18 -70 L 22 -40 Z"/>
      <use xlink:href="#tooth" transform="rotate(60)" />
      <use xlink:href="#tooth" transform="rotate(120)" />
      <use xlink:href="#tooth" transform="rotate(180)" />
      <use xlink:href="#tooth" transform="rotate(240)" />
      <use xlink:href="#tooth" transform="rotate(300)" />
    <svg>
    <ul class="tabs"></ul>
  </div>
  <div class="channels"></div>
  <div class="textbox">
    <input type="text" maxlength="{{MAX_TEXTBOX}}" />
    <textarea rows="5" maxlength="{{MAX_TEXTBOX}}"></textarea>
  </div>
  <div class="options"></div>
</div>
